body {
	display: grid;
	/* Displays children in a grid */
	grid-template-areas: 'n n'
		/* Defines where children are placed in grid */
		'h h'
		'a m'
		'f f';
	grid-template-rows: 50px 400px auto 50px;
	/* Defines the height of each grid row */
	grid-template-columns: 300px auto;
	/* Defines the width of each grid column */
	width: 100vw;
	/* Fits the website to the width of the screen */
	height: 100vh;
	/* Fits the website to the height of the screen */
	overflow-x: hidden;
	/* Hides scrollbars in x */
	overflow-y: auto;
	/* Shows scrollbars in y when needed */
	margin: 0;
	/* Removes default white space around body */
	font-family: 'Montserrat', sans-serif;
	color: #232323;
}

nav {
	grid-area: n;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 80px;
}

nav a {
	display: block;
	padding: 0 20px;
	color: #232323;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

header {
	grid-area: h;
	background-image: url("https://cdn.discordapp.com/attachments/882134233441787904/886849627993821204/unknown.png");
	background-position: center bottom;
	background-size: cover;
	background-color: lightyellow;
	width: 100%;
	height: 100%;
	position: relative;
}

header h1 {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

header h1 span {
	color: white;
	font-size: 48px;
	font-weight: 700;
	text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);
	text-align: center;
}

aside {
	grid-area: a;
	display: flex;
	flex-direction: column;
	margin: 40px 0;
	padding: 0 40px;
}

aside h3 {
	text-transform: uppercase;
	font-weight: 400;
}

aside section {
	display: grid;
	grid-template-columns: 40px auto;
	align-items: center;
}

aside section input {
	display: block;
	transform: scale(1.5);
}

aside section label {
	color: #696969;
	font-weight: 300;
	line-height: 2;
}

main {
	grid-area: m;
	margin: 40px 0;
	padding: 0 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

main div {
	width: 280px;
	height: 320px;
	overflow: hidden;
	background-color: #F4F6F7;
	margin: 20px;
}

main div img {
	width: 100%;
	height: 50%;
	object-fit: cover;
	object-position: 50% 50%;
}

.kabir {
	object-fit: cover;
	object-position: 50% 0%;
}

main div h3 {
	padding: 0;
	margin: 16px;
	font-weight: 600;
}

main div h4 {
	padding: 0;
	margin-left: 16px;
	margin-top: 8px;
	margin-bottom: 8px;
	font-weight: 200;
	color: #FF4500;
}

main div p {
	padding: 0;
	margin-left: 16px;
	margin-top:8px;
	margin-bottom:8px;
	font-weight: 200;
}

main div a {
	display: block;
	padding: 0;
	margin-left: 16px;
	margin-top: 8px;
	font-weight: 400;
	color: #000000;
}

footer {
	grid-area: f;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #f4f6f7;
	color: #696969;
	font-weight: 200;
	font-size: 14px;
}