@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Source+Sans+Pro&display=swap');


* {
	font-family:'Source Sans Pro', sans-serif;
	text-align:center;
}

h1 {
	font-size: 5rem;
}

label {
	display:block;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 1.5rem;
}

p {
	font-size: 1rem;
}

button {
	font-size: 1rem;
}

textarea {
	width:400px;
	margin-bottom:1rem;
}

select{
	margin-bottom:1rem;
}

body {
        display:flex;
	background-color:#ebebeb;
        align-items:center;
        justify-content:center;
        margin:0;
}

a {
    color:#0e3573;
    text-decoration:none;
}

 #center {
    transform:translate(0%,100%);
    overflow:hidden;
    padding:0;
    box-sizing:content-box;	
    text-align:center;
}
