@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Source+Sans+Pro&display=swap');


* {
	font-family:'Source Sans Pro', sans-serif;
	text-align:center;
}

h1 {
	font-size: 5rem;
}

label {
	display:block;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 1.5rem;
}

p {
	font-size: 1rem;
}

button {
	font-size: 1rem;
}

textarea {
	width:400px;
	margin-bottom:1rem;
}

select{
	margin-bottom:1rem;
}

body {
	background-color:#ebebeb;
}

 #center {
	overflow:hidden;
	margin:0;
	padding:0;
	box-sizing:content-box;	
 	position:absolute;
 	width:50vw;
 	left:25vw;
 	top:25vh;
	text-align:center;
}
